version: "3"
services:
  mountebank:
    build: .
    container_name: mountebank
    volumes:
      - ./imposters:/imposters
    ports:
      - "2525:2525"
      - "8090:8090"
    command: --configfile /imposters/imposter.ejs --allowInjection