version: "3"
services:
  mountebank:
    build: .
    container_name: mountebank
    volumes:
      - ./imposters:/imposters
    ports:
      - "2525:2525"  # for server
      - "8091:8091"
      - "8090:8090"
      - "8089:8089"
    command: --configfile /imposters/imposter.ejs --allowInjection